.registration{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    align-self: center;
    margin-top: 100px;
    position: relative;


}

.registration-header{
font-size: 30px;
font-weight: 700;
}
input {
    margin:5px 20px
    
}
input:focus{
    outline: none;
    outline-offset: 0;
    transform: scale(1.07);

}
.registration-btn{
border: none;
color:  #FFFFFF;
background: #566885;
font-weight: 700;
width: 150px;
height: 32px;
font-size: 18px;
line-height: 26px;
border-radius: 12px;
padding: 5px 5px;
align-self: flex-end;
margin-top: 10px;

}