.fileList{
    /* margin: 20px 0; */
}
.fileList-header{
    margin: 10px 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.fileList-name{
    flex-grow: 1;
    margin-left: 50px;
}
.fileList-date, .fileList-size{
    margin-right: 10px;
    width: 120px; 
    text-align: center;
    
}

