.fileList{
    /* margin: 20px 0; */
}
.fileList-header{
    margin: 10px 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.fileList-name{
    flex-grow: 1;
    margin-left: 50px;
}
.fileList-date, .fileList-size{
    margin-right: 10px;
    width: 120px; 
    text-align: center;
}
.fileList-fileNull{
    display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 50px);
}
.file-plateMain{
        display: flex; 
 justify-content: space-between; 
 flex-wrap: wrap;
}
.file-enter-active{
    animation: file-enter 500ms forwards;

}

@keyframes file-enter{
    0%{
opacity:0;
transform:translateY(-50%)
    }
    100%{
        opacity: 1;
transform:translateY(0)

    }
}

