.fileList{
    margin: 20px 0;
}
.fileList-header{
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
}
.fileList-name{
grid-column-start: 2;
}
.fileList-date{
    grid-column-start: 5;
    justify-self: center;
}
.fileList-size{
    grid-column-start: 6;
    justify-self: center;

}